<h1>Stupid Coaching</h1>

<div class='dialog-box'>
  <p><%= @question %></p>
  <p>-You.</p>
</div>

<div class="dialog-box coach-speech">
  <p><%= @answer %></p>
  <p>-Your coach.</p>
</div>

<div>
  <%= link_to 'Ask a new question', ask_path %>
</div>
